@{
    ViewData["Title"] = "Words to Live By:";
}
<h1 class="quotePrivacy">@ViewData["Title"]</h1>

<p class="privacy">~Anything is paws-sible with a dog by your side!~</p>
<p class="privacy">~If my dog doesn't like you, I probably won't either.~</p>
<p class="privacy">~Dogs are not our whole life, but they make our lives whole.~</p>
<p class="privacy">~Not all dogs are good boys, some are good girls!~</p>
<p class="privacy">~I don't think twice about picking up my dog's poop, but if another dog's poop is next to it, I
    think, "Eww, dog poop!"~</p>


<img class="imgPrivacy" src="https://latchkeypets.com/wp-content/uploads/tips-for-puppy-playdate.jpg">
